

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1em 1em;
  justify-items: center;
  align-items: center;
  width: 45em;
  background-color: rgba(0, 0, 0, 0.271);
  padding: 2em;
  border-radius: 1em;
  position: relative;

  .default  {
    height: 8em;
    width: 8em;
    // background-color: rgba(192, 192, 192, 0.515);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.234);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    >img {
      transform: rotateY(90deg);
      opacity: 0.5;
      transition: 1s;
      width: 100%;
      height: 100%;
    }
  }
}

.active {
  background-color: rgba(255, 255, 0, 0.2);
  height: 8em;
  width: 8em;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.234);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
  > img {
      transform: rotateY(180deg);
      opacity: 1;
      transition: 1s;
      width: 100%;
      height: 100%;
  }
}

.matched{
  background-color: rgba(30, 255, 0, 0.575);
  height: 8em;
  width: 8em;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.234);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
  > img {
      transform: rotateY(180deg);
      opacity: 1;
      transition: 1s;
      width: 100%;
      height: 100%;
  }
}

.button-container {
  width: 45em;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
 > button {
  padding: 0.7em;
  width: 10em;
  outline: 0;
  font-family: 'Hope';
  font-size: 1.2em;
  border: 1px solid white;
  border-radius: 0.5em;
  color: white;
  background-color: rgba(31, 2, 2, 0.733);
  cursor: pointer;
}
}

