

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1em 1em;
  justify-items: center;
  align-items: center;
  width: 45em;
  background-color: rgba(0, 0, 0, 0.171);
  padding: 2em;
  border-radius: 1em;
  position: relative;

  >div {
    height: 8em;
    width: 8em;
    background-color: rgba(192, 192, 192, 0.515);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.234);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    >img {
      transform: rotateY(90deg);
      transition: 1s;
    }
  }

  >div:hover {
    >img {
      transform: rotateY(180deg);
      transition: 1s;
    }
  }
}