<div class="container">
    <div
    [class.active]="index === activeIndex || index === lastClickedArr[0] && activePokesArr.length === 2"
    [class.default]="index !== activeIndex && !matchedArr.includes(poke) && !(index === lastClickedArr[0] && activePokesArr.length == 2)"
    [class.matched]="matchedArr.includes(poke)"
    (click)="onActivate(poke, index); activeIndex = index;"
    *ngFor="let poke of pokeArray; let index = index">
      <img [src]="poke">
    </div>
</div>

<div class="button-container"><button (click)="newGame()" *ngIf="matchedArr.length === 10">Play again!</button></div>
<app-modal (getNewGame)="newGame()" [timer]="timer" [allMatches]="allMatches" *ngIf="isModalActive"></app-modal>
