:host {
    margin: 0;
    padding: 0;
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(39, 14, 14, 0.398);
        width: 50%;
        border-radius: 4em;
        h1 {
            font-family: "Pokemon";
            color: white;
            font-size: 8em;
            margin: 0;
            background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
            filter: drop-shadow(0 20px 30px #28d8ff33);
            -webkit-text-fill-color: rgba(0, 0, 0, 0.171);
            -webkit-background-clip: text;
            -webkit-box-decoration-break: clone;
            text-align: center;
        }

        h3 {
            font-family: "Pokemon";
            color: white;
            font-size: 2em;
            margin: 0;
            background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
            filter: drop-shadow(0 20px 30px #28d8ff33);
            -webkit-text-fill-color: rgba(0, 0, 0, 0.171);
            -webkit-background-clip: text;
            -webkit-box-decoration-break: clone;
        }
    }
}