/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Pokemon";
    src: local("Pokemon"), url(assets/fonts/Pokemon/poke.ttf) format("truetype");
}

body {
    background-image: url('/assets/images/background.jpeg');
}