/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Pokemon";
    src: local("Pokemon"), url(assets/fonts/Pokemon/poke.ttf) format("truetype");
}
@font-face {
  font-family: "Hope";
  src: local("Hope"), url(assets/fonts/hope/hope.ttf) format("truetype");
}
body {
    background-image: url('/assets/images/background.jpeg');
    background-position: center;
    background-attachment: fixed;
    font-family: "Hope";
}
